* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a {
    text-decoration: none;
    background-color: transparent;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: Roboto;
    src: url("font/Roboto/Roboto-Regular.ttf");
}

.header {
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 3.5rem;
    transform: translate(0, 0);
    transition: all 0.3s ease-in .0s;
    /*background-color: red;*/
}

.home-link {
    right: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

.category {
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    cursor: pointer;
    /*background-color: green;*/
    /*background-image: url("/icon/Category.png");*/
}

.category img {
    height: 1.5rem;
    width: 1.5rem;
}

.wrapper {
    position: relative;
    /*background-color: burlywood;*/
    overflow-x: hidden;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    transition: all 0.3s ease-in .0s;
    box-shadow: -3px 0 2px 0 rgba(0, 0, 0, 0.6);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
    position: relative;
    color: white;
    /*background-color: aqua;*/
}

.intro h1 {
    font-size: 4rem;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-in .0s;
}

.intro p {
    font-size: 2rem;
    transition: all 0.3s ease-in .0s;
}

.container {
    display: flex;
    position: relative;
    background-color: white;
    align-items: flex-start;
    justify-content: center;
}

.main {
    /*background-color: green;*/
    width: 50%;
    order: 1;
    margin-left: 3rem;
}

.index-post {
    position: relative;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.abstract-title {
    line-height: 2.5rem;
    color: #787878;
    padding-bottom: 0.5rem;
}

.abstract-title:hover {
    transition: color 0.1s ease-in;
    color: #f75357;
}

.abstract-title span {
    transition: color 0.1s ease-in;
    font-size: 1.7rem;
}

.abstract-content {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: lighter;
    word-break: break-all;
}

.abstract-post-meta {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 0 0;
    height: 1.5rem;
}

.abstract-date {
    display: flex;
}

.abstract-date .abstract-calender {
    font-size: 1rem;
    position: relative;
    top: -0.3rem;
    color: #aaa;
}

.abstract-date .abstract-time {
    color: #aaa;
}

.post-tag {
    margin-left: 0.4rem;
    font-weight: lighter;
    color: #aaa;
}

.post-tag:hover {
    border-bottom: 0.05rem solid;
    transition: all 0.1s ease-in .0s;
}

.post-tag:before {
    margin-right: 2px;
    content: '#';
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in .0s;
    height: 100%;
    overflow-x: hidden;
    background-color: #222;
    width: 300px;
    z-index: 10;
}

.sidebar-active {
    transform: translate(0px, 0);
}

.sidebar-hide {
    transform: translate(-300px, 0);
}

.content-active {
    transform: translate(300px, 0);
}

.top-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    /*height: 50vh;*/
    height: calc(100% + 1px);
    width: 100%;
    filter: brightness(0.5);
    background: transparent no-repeat center center;
}

.profile {
    width: 200px;
    order: 0;
    flex-shrink: 0;
    margin-top: 1rem;
}

.portrait {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.6);
}

.profile-name {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    color: #333;
}

.profile-signature {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #777;
}

.profile-social {
    line-height: 1.7rem;
    width: 100%;
    border-bottom: 1px solid rgba(119, 119, 199, 0.4);
    padding: 0.5rem 0;
}

.profile-social a {
    color: black;
    margin-right: 0.4rem;
}

.profile-social a i {
    font-size: 1.4rem;
    color: #777;
}

.page-nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0.5rem 0;
}

.page-nav > * {
    font-size: 1.4rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

.page-number {
    color: rgba(119, 119, 119, 0.5);
}

.page-number:hover {
    border-bottom: 0.1rem solid;
    transition: all 0.3s ease-in .0s;
}

.page-current {
    color: #222;
}

@media (max-width: 980px) {
    .main {
        /*background-color: green;*/
        width: 92%;
        margin: 0;
    }

    .intro h1 {
        font-size: 3rem;
        line-height: 2.8rem;
    }

    .intro p {
        font-size: 1.5rem;
    }

    .profile {
        display: none;
    }
}